@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* DESIGN ELEMENTS */
  --white: hsl(0, 0%, 100%);
  --snow: hsl(330, 100%, 98%);
  --white-coffee: hsl(30, 18%, 87%);
  --eggshell: hsl(30, 54%, 90%);
  --wenge-brown: hsl(30, 10%, 34%);
  --brandy-red: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --dark-charcoal: hsl(24, 5%, 18%);

  --font-size: 1rem;
  --font-family-fancy: 'Young Serif', serif;
  --font-family: 'Outfit', sans-serif;
  --transition: 0.2s ease-in-out;
  --primary: var(--dark-raspberry);
  --secondary: var(--brandy-red);
  --tertiary: var(--wenge-brown);
}
html {
  font-size: 100%;
}
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--eggshell);
  color: var(--wenge-brown);
}
