---
import RecipeHeader from './RecipeHeader.astro';
---

<div class="card">
  <RecipeHeader />
  <div class="ingredients"></div>
  <div class="instructions"></div>
  <div class="nutrition"></div>
</div>

<style>
  .card {
    background-color: var(--white);
    max-width: 46rem;
    padding: 2.5rem;
    border-radius: 1.5rem;
  }
  .location {
    color: var(--primary);
    margin-block-start: 0.25rem;
  }
</style>
