---
import RecipeHeader from './RecipeHeader.astro';
import Ingredients from './Ingredients.astro';
import Instructions from './Instructions.astro';
import Nutrition from './Nutrition.astro';
---

<div class="card">
  <RecipeHeader />
  <Ingredients />
  <div class="thematic-break"></div>
  <Instructions />
  <div class="thematic-break"></div>
  <Nutrition />
</div>

<style>
  .card {
    background-color: var(--white);
    max-width: 46rem;
    padding: 2.5rem;
    border-radius: 1.5rem;
  }
</style>
