---
interface RecipeInfo {
  ingredients: string[];
}

const { ingredients }: RecipeInfo = {
  ingredients: [
    '2-3 large eggs',
    'Salt, to taste',
    'Pepper, to taste',
    '1 tablespoon of butter or oil',
    'Optional fillings: cheese, diced vegetables, cooked meats, herbs',
  ],
};
---

<section id="ingredients">
  <h3 class="heading-m heading">Ingredients</h3>
  <ul class="ingredients-list list">
    {ingredients.map((item) => <li class="ingredient-entry">{item}</li>)}
  </ul>
</section>

<style>
  .heading {
    margin-block-end: 1.5rem;
  }
</style>
