---
interface RecipeInfo {
  name: string;
  description: string;
  preparation: Preparation[];
}
interface Preparation {
  label: string;
  details: string;
}

const { name, description, preparation }: RecipeInfo = {
  name: 'Simple Omelette Recipe',
  description:
    'An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats.',
  preparation: [
    {
      label: 'Total',
      details: 'Approximately 10 minutes',
    },
    {
      label: 'Preparation',
      details: '5 minutes',
    },
    {
      label: 'Cooking',
      details: '5 minutes',
    },
  ],
};
---

<section id="recipe-overview">
  <h1 class="recipe-name heading-l">{name}</h1>
  <p class="recipe-description body-regular">{description}</p>
  <div class="recipe-preparation">
    <h2 class="heading-s">Preparation time</h2>
    <ul class="prep-list list">
      {
        preparation.map(({ label, details }) => (
          <li class="prep-step">
            <span class="body-bold">{label}</span>: {details}
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .recipe-name {
    margin-block-end: 1.5rem;
  }
  .recipe-preparation {
    padding: 1.75rem;
    margin-block: 2rem;
    background-color: var(--snow);
    border-radius: 0.75rem;
    h2 {
      margin-block-end: 1rem;
    }
  }
</style>
